div{
    color: bisque;
    background-color: blueviolet;
    padding: 30px;
    margin: 20px;
}
h2{
    text-align: center;
    text-shadow: 1px;
    background-color: blanchedalmond;
    color: azure;
    margin: auto;
    padding: 10px;
    color: black;
    height: auto;
    font-weight: bolder;
    width: 200px;
}
img{
    height: 500px;
    width: auto;
    align-self: auto;
    margin: auto;
    padding: auto;
    border: 20px;
}